.home-container {
  background-image: url('../assets/street.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 150px;
}

.Name {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.intro-text {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .home-container {
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  .Name {
    font-size: 6vw;
  }

  .intro-text {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .Name {
    font-size: 8vw;
  }

  .intro-text {
    font-size: 5vw;
  }
}